@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Manrope-Medium.ttf") format("woff2");
}
@layer components {
  .align-element {
    @apply max-w-[1110px] w-full px-5 mx-auto;
  }
}
#hero-bg {
  background-image: url("./assets/home/desktop/image-hero.jpg");
}
